<footer id="footer" class="footer light-background">
    <div class="container text-center">
        <p>© 2025 <strong class="sitename">StudentMVC</strong> All Rights Reserved</p>
        <p><a asp-controller="Home" asp-action="Privacy">Privacy</a></p>
    </div>
</footer>