<header id="header" class="header d-flex align-items-center light-background sticky-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

        <a asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center me-auto me-xl-0">
            <h1 class="sitename">StudentMVC</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a asp-controller="Home" asp-action="Index" class="active">Home</a></li>
                <li><a asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                <li><a asp-controller="Student" asp-action="Index">Student</a></li>
                <li><a asp-controller="Student" asp-action="StudentList">Student Popup</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
    </div>
</header>